* {
  box-sizing: border-box;
}
:root {
  --cell-dim: 100px;
  --cell-count: 8;

  --clr-black-cell: hsl(89, 27%, 46%);
  --clr-white-cell: hsl(62, 42%, 87%);
}
.board {
  color: black;
  display: grid;
  grid-template-columns: repeat(var(--cell-count), var(--cell-dim));
}
.board-col {
  position: relative;
  display: grid;
  place-items: center;
  height: var(--cell-dim);
}
.board-col-movable {
  cursor: pointer;
}
.board-col-movable:hover {
  /* opacity: 0.9; */
}
.board-idx {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 0.85rem;
}

.black-cell {
  background-color: var(--clr-black-cell);
}

.white-cell {
  background-color: var(--clr-white-cell);
}

.active-cell::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  isolation: isolate;
  z-index: -1;
  background: #e6a224 !important;
}
.valid-cell {
  background-color: inherit;
  box-sizing: border-box;
}
.valid-cell::after {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 60% !important;
  height: 60% !important;
  border-radius: 35% !important;
  background-color: #e6a224b4 !important;
  transform: translate(-50%, -50%) !important;
}

.check-cell::after {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 60% !important;
  height: 60% !important;
  border-radius: 35% !important;
  background-color: #ad2424 !important;
  transform: translate(-50%, -50%) !important;
}

.black-cell {
  background-color: var(--clr-black-cell);
}
.white-cell {
  background-color: var(--clr-white-cell);
}
